header img {
  width: 30px;
  aspect-ratio: 1/1;
  margin-right: 12px;
}

main {
  display: flex;
  height: calc(100vh - var(--header-footer-height)*2);
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  padding: 20px;

  & form {
    position: relative;
  }
}

#dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  & span {
    display: block;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: rgb(160, 160, 160);
    }
  }
}

#results div{
  margin-bottom: 8px;
  font-weight: bold;

  & span {
    font-weight: normal;
  }
}

footer a {
  color: inherit;
}

@media (max-width:480px) {
  main {
    align-items: normal;

    & form {
      margin: 0 auto;
    }
  }
}