header img {
  width: 30px;
  aspect-ratio: 1/1;
  margin-right: 12px;
}

main {
  display: flex;
  height: calc(100vh - var(--header-footer-height) * 2);
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  padding: 20px;

  & form {
    position: relative;
  }
}

#lang-switch {
  display: block;
  position: relative;
  width: 64px;
  height: 24px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 0 auto;

  &:active {
    background-color: #ddd;
  }

  &::after {
    width: 100%;
    position: absolute;
    content: "中文搜索";
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main[data-searchlang="jp"] &::after {
    content: "日语搜索";
  }
}

#dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  & span {
    display: block;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: rgb(160, 160, 160);
    }
  }
}

#results div {
  margin-bottom: 8px;
  font-weight: bold;

  & span {
    font-weight: normal;
  }
}

footer a {
  color: inherit;
}

@media (max-width: 480px) {
  main {
    align-items: normal;

    & form {
      margin: 0 auto;
    }
  }
}
